<% provide(:title, "about") %>

<div class ="row">
  <div class= "col-md-12 text-center">
    <h1 class="large-style-text hunter-green">Heavy Duty</h1>
    <hr class="about-divider">
  </div>
</div>

<div class="row">
  <div class="brands-list">
    <div class="col-md-3 col-md-offset-3 text-center">
      <h2 class="hunter-green">Differentials</h2>
      <p>Eaton/Dana</p>
      <p>Meritor/Rockwell</p>
      <p>Spicer</p>
      <p>International/IHC</p>
    </div>

    <div class="col-md-3 text-center">
      <h2 class="hunter-green">Transmissions</h2>
      <p>Eaton/Fuller</p>
      <p>Eaton Midrange</p>
      <p>Meritor/Rockwell</p>
      <p>Spicer</p>
      <p>Spicer Midrange</p>
      <p>Mack</p>
    </div>
  </div>
</div>

<div class="row offer-text">
  <div class="col-md-12 text-center">
    <h2 class="hunter-green"><em>We offer a complete line of parts and rebuild services for  <strong>Light Duty</strong> transmissions, differentials, and transfer cases.</em></h2>
  </div>
</div>

