
<div class="row">
  <div class="main-banner">
    <%= image_tag("DTS-banner-transparent.png") %>
  </div>
</div>

<div style="height: 250px" class="row bg-hunter-gradient">
  <div class="col-md-12">
    <div class="text-center">
      <h1 class="large-style-text line-border-green">Gearing Up to Serve You Better</h1>
    </div>
  </div>
</div>

<div class="row">
  <div>