
<div class="row">
  <div class="main-banner">
    <%= image_tag("DTS-banner-transparent.png") %>
  </div>
</div>

<div style="height: 250px" class="row bg-hunter-gradient">
  <div class="col-md-12">
    <div class="text-center">
      <h1 class="large-style-text line-border-green">Gearing Up to Serve You Better</h1>
    </div>
  </div>
</div>

<div class="main-callout">
  <div class="container">
    <div class="row paddings">
      <div class="col-md-6 col-md-offset-2">
        <p><strong>DriveTrain Solutions LLC</strong> is ready to meet and exceed all of your rebuilding needs.
           <br>
           <br>We specialize in heavy duty transmissions and differentials, and are fully stocked to give you the quick turn-around time that keeps you on the road.  Time is money and we can save you both!</p>
      </div>
      
      <div class="wrench-icon">
        <div class="col-md-offset-1 col-md-3">
          <i class="fa fa-wrench fa-6x line-border-green hunter-green-font thick-border"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="learn-more">
	  <div class="container">
      <div class="row">
          <div class="col-md-4">
        <h3>New Location!</h3>
        <p>Opening July 1st, find us at 411 64th Ave North, Coopersville, MI, 49404</p>
        <p><a href="#">New location</a></p>
          </div>

        <div class="col-md-4">
        <h3>Serving Our Customers</h3>
        <p>Pick up and delivery, exchange program, rebuilt units.</p>
        <p><a href="#">Where we service</a></p>
        </div>

        <div class="col-md-4">
        <h3>Trust and Safety</h3>
        <p>Our technicians have over 50 years experience.</p>
        <p><a href="#">Meet our staff</a></p>
        </div>
	    </div>
	  </div>
	</div>